:root {
    --backgroundColor: #14271A;
    --mediumTextColor: #1DD767;
    --lightTextColor: #87F1B4;
    --blinkingTime: 0.8s;
}

* {
    color: var(--mediumTextColor);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight:400;
    transition: .2 linear;
    font-family: 'Inter', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    /*scroll-padding-top: 9rem;*/
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
    background-color:var(--backgroundColor);
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background-color: var(--backgroundColor);
    display: grid;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}

#blinking {
    animation: blink-text var(--blinkingTime) infinite;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    
}

.header .navbar a {
    margin: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    font-size: 4rem;
    font-weight: 500;
    transition: 0.2s;
}

.header .navbar a:hover {
    color: var(--lightTextColor);
    background-color: #1DD767;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    transition: 0.2s;
}

section{
    height: 100vh;
    padding-top:16rem;
}

#home {
    font-size:3rem;
    margin-top:8rem;  
    height: 100vh;
    
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align:center;
    justify-content:center;
  }
  

.footer .credit {
    font-size:2rem;
    font-weight:lighter;
    padding:1.5rem;
  }

/* media queries */

@media(max-width:1270px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.8rem;
    }
    .header .navbar a {
        font-size:3.6rem;
        margin:1.8rem;
        
    }
    section {
        padding-top: 8rem;
    }
}


@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem;
    }
    .header .navbar a {
        font-size:3.2rem;
        margin:1.2rem;
        padding-left:5rem;
        padding-right:5rem;
    }
    section {
        padding-top: 8rem;
    }
}

@media(max-width:680px) {
    html {
        font-size: 50%;
    }
    .header {
        padding: 1rem;
    }
    .header .navbar a {
        font-size:3rem;
        margin:1rem;
        padding-left:4rem;
        padding-right:4rem;
    }
    section {
        padding-top: 8rem;
    }
}

@media(max-width:580px){
    html {
        font-size:45%;
    }
    .header {
        padding: 1rem;
    }
    .header .navbar a {
        font-size:3rem;
        margin:1rem;
        padding-left:1rem;
        padding-right:1rem;
    }
    section {
        padding-top: 8rem;
    }
}

@media(max-width:420px){
    html {
        font-size:35%;
    }
    .header{
        margin-bottom:5rem;
    }
    
}

@keyframes blink-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}